/* /* 
#paper1{
    height: 0px;
    width: 0px;
    justify-content: center;


} */
body{
    background-image: url("https://hdqwalls.com/wallpapers/headphones-monochrome-ad.jpg");
}

#spotifyPaper{
    /* width: 30%; */
    float: right;
    position: relative;
    bottom: -5px;
    padding: 0px;
    justify-content: center;
    
    
    
    
    
}
#img1{
  
    height: 400px;
    width: 800px;
    position: absolute;
    



}
#img2{
  
    height: 80%;
    width: 80%;
    float: left;
    justify-content: center;
    padding: 10px;





}
#paperPlane{
    width: 80%;
    height: 100%;
    top: 25px;
    position: relative;
    /* padding: 5%; */
    padding: 80px;
    background-color: #fefbf4;
    
}
 #search-artist{
    width: 650px;
    /* width: 100%; */
    float: right;
    justify-content: right;
    
    
    


}
#search-index {
    margin: auto;
    font-weight: bold;
    height: 50px;
    width: 340px;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;


}
.title{
    font-family: 'Fjalla One', sans-serif;
}
#rockNrate{
    font-family: 'Lobster', cursive;
    text-align: center;
    text-decoration: none;
    color: white;
}
#navBar{
    background-color: rgba(255,255,255,0.5);;

    
}
#blogEntries{
    text-align: center;
}
#fullGrid{
    top: -200px;
    position: relative;
}
#submitButton{
    position: relative;
    justify-content: center;
    right: -50px;
    bottom: -40px;
    background-color: orange;
    
}
#standardButton{
    background-color: orange;
}
#outlined-dense-multiline{
    /* width: 750px; */
    position: relative;
    /* justify-content: center; */
    width: 350px;
    
}
#search-name{

    float: left;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -100px;
    /* text-align: Center;
    position: relative;
    padding: 2px;
    width: 300px;
    left: -90px;
    bottom: -40px;
    clear: both; */
}
#divider{
    padding: 1px;

}
#divider-container{
    bottom: -80px;
    position: relative;
    
}
#blogField{
    position: relative;
    bottom: -50px;
}
 #footer-blog{
    
    position: relative;
    float: right;
    width: 500px;
    right: -180px;

}

#rating{
    position: relative;
    bottom: -15px;
}
/* #blogContainer{
    position: absolute;
    bottom: 0px;
    justify-content: center;
    
}  */

